
.job-list-container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .job-item {
    flex: 1 0 calc(33.33% - 20px);
    margin: 10px;
    background-color: #fff; 
    border: 1px solid #ddd; 
    border-radius: 8px;
    padding: 12px;
    cursor: pointer;
  }
  
  .job-item p {
    margin: 8px 0; 
   
  }
  
  .job-item p.title {
    color: #080808; 
  }
  
  .job-item-red {
    background-color: #ffcccc; /* Cor de fundo vermelha para percentual acima de 10% */
  }
  
  .job-item-yellow {
    background-color: #fff3cd; /* Cor de fundo amarela para percentual entre 5% e 9% */
  }
  
  .job-item-green {
    background-color: #d4edda; /* Cor de fundo verde para percentual abaixo de 5% */
  }